name: Kernel Config - Custom

permissions:
  contents: write
  actions: write

on:
  workflow_call:
    inputs:
      ksu_variant:
        required: true
        type: string
      ksu_commit:
        required: false
        type: string

jobs:
  build-kernel-custom:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android12"
      kernel_version: "5.10"
      sub_level: "226"
      os_patch_level: "2024-11"
      variant: "vTomsonek"
      ksu_variant: ${{ inputs.ksu_variant }}
      ksu_commit: ${{ inputs.ksu_commit }}
